.credits-background {
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  width: 80%;
  height: 75%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.full-width-card {
  width: 100%;
  background-color: var(--white); /* Adjust the background color as needed */
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.half-width-card {
  width: calc(50% - 0.5em); /* Subtract margin to ensure cards fit within the row */
  background-color: var(--white); /* Adjust the background color as needed */
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
}

.small-image {
  width: 100px; /* Increase the width */
  height: 100px; /* Increase the height */
  object-fit: contain; /* Maintain aspect ratio and fit the entire image */
  align-self: flex-start; /* Align the image to the top */
}

.card-heading {
  color: var(--black);
  font-size: 2em; /* Adjust the font size as needed */
}

.reference-heading {
  color: var(--black);
  font-size: 1.2em; /* Adjust the font size as needed */
}

.card-text {
  color: var(--black); /* Adjust the text color as needed */
  font-size: 1em; /* Adjust the font size as needed */
}