.lp-container {
  font-family: "Cabin", sans-serif;
}

#lp-title-page {
  background-color: var(--tea-green);
  min-height: 85vh;
}

.logo-container {
  width: 5%;
}

.logo {
  width: 100%;
}

.lp-title-page-content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60vh;
}

.lp-title-content-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lp-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.main-title {
  font-size: 5rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 1rem;
}

.sub-title {
  font-size: 2.5rem;
  color: var(--black);
}

.lp-title-description {
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 80%;
  color: var(--gray);
}

.lp-title-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12rem;
  max-width: 80%;
}

.lp-title-button {
  background-color: var(--dark-green);
  color: var(--white);
}

.lp-title-button:hover {
  background-color: var(--light-green);
}

.lp-title-map-container {
  align-items: center;
}

.lp-sources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  height: 15vh;
  background-color: var(--white);
}

.sources-description {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray);
}

.sources-logos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.source-logo {
  width: 200px;
}

#wfp-logo {
  width: 80px;
}

#lp-simulation-page {
  background-color: var(--air-superiority-blue);
  align-items: center;
}

#lp-simulation-title {
  color: var(--white);
}
