.map-background {
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 75%;
}

.leaflet-container {
  min-height: 50vh;
  min-width: 50vw;
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.map-background {
  background-color: var(--dark-green);
}

#lp-simulation-page .map-background {
  background-color: var(--dark-blue);
}

#outputs-menu-container .map-background {
  background-color: var(--light-orange);
}

.result-detail-container .map-background {
  background-color: var(--light-orange);
}
