.menu-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#settings-menu-container .simple-button {
  background-color: var(--charcoal);
}

.items-list-container {
  background-color: var(--tea-green);
  height: 100vh;
  width: 25%;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#settings-list-container {
  background-color: var(--air-superiority-blue);
}

.items-list-title {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}

.items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 75%;
  overflow-y: scroll;
}

.items-list .simple-button {
  margin: 0.2em 0;
  padding: 0.5em;
  width: 90%;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.items-list .simple-button:hover {
  background-color: var(--light-green);
  color: var(--white);
}

#settings-items-list .simple-button {
  background-color: var(--white);
  color: var(--black);
}

#settings-items-list .simple-button:hover {
  background-color: var(--light-charcoal);
  color: var(--white);
}

.simple-button.selected-item {
  background-color: var(--dark-green);
  color: var(--white);
}

#settings-items-list .simple-button.selected-item {
  background-color: var(--charcoal);
  color: var(--white);
}

.items-list-item-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 30%;
  color: var(--white);
}

.simple-button .items-list-item-icons,
a .items-list-item-icons {
  display: none;
  justify-self: flex-end;
  right: 0.4em;
  width: 20%;
}

.simple-button:hover .items-list-item-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.item-icon {
  font-size: 1rem;
}

.item-icon:hover {
  color: var(--dark-green);
}

.content-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  padding: 2em 0;
}

.map-background {
  background-color: var(--dark-green);
}

.leaflet-container {
  min-height: 50vh;
  min-width: 50vw;
  width: 80%;
  height: 100%;
}

.settings-preview-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.settings-input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons-container {
  padding: 1em;
}

.simple-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
